//- # HOME PAGE
doctype html
html
  head
    title Study Circle
    link(rel="stylesheet", href="/style.css")

  body
    h1 💗 Study Circle

    if user
      p 👋 Welcome #{user.name}
      p
        a(href="/logout") Logout

    .card
      a(href="/users") 👩‍🎓 View Users

    .card
      a(href="/sessions") 📚 Study Sessions

    .card
      a(href="/messages") 💬 Messages

      