//- # HOME PAGE
doctype html
html
  head
    //- # PAGE TITLE
    title Study Circle

    //- # CSS FILE
    link(rel="stylesheet", href="/style.css")

  body
    //- # MAIN TITLE
    h1 💗 Study Circle

    //- # SUBTITLE
    h2 Peer-to-Peer Study Support Platform

    //- # IF USER IS LOGGED IN (SESSION)
    if user
      //- # GREETING USER
      p(style="text-align:center") 👋 Welcome #{user.name}

      //- # LOGOUT BUTTON
      p(style="text-align:center")
        a(href="/logout") Logout

    else
      //- # IF USER IS NOT LOGGED IN
      p(style="text-align:center") You are not logged in

      //- # LOGIN BUTTON
      p(style="text-align:center")
        a(href="/login") Login

    //- # DESCRIPTION TEXT
    p(style="text-align:center") Helping students connect and support each other 💫

    //- # NAVIGATION CARDS
    .card
      a(href="/users") 👩‍🎓 View Users

    .card
      a(href="/sessions") 📚 Study Sessions

    .card
      a(href="/messages") 💬 View Messages

      
      

