//- # USER PROFILE PAGE
doctype html
html
  head
    title Profile
    link(rel="stylesheet", href="/style.css")

  body
    .card
      //- # USER NAME
      h1 👤 #{user.name}

      //- # SHOW EMAIL ONLY IF IT EXISTS
      if user.email
        p 📧 #{user.email}

      br

      //- # BACK BUTTON
      a(href="/users") ⬅ Back to users
      


    