//- # USERS PAGE
doctype html
html
  head
    //- # PAGE TITLE
    title Study Partners

    //- # LINK CSS FILE
    link(rel="stylesheet", href="/style.css")

  body
    //- # MAIN PAGE HEADING
    h1 👩‍🎓 Study Partners

    //- # PRIVACY NOTE
    p This page only shows basic user information for study support purposes.

    //- # LOOP THROUGH ALL USERS
    each user in users
      .card
        //- # SHOW USER NAME
        p #{user.name}

        //- # SHOW USER SKILLS
        p 🧠 Good at: #{user.skills}

        //- # LINK TO PROFILE PAGE
        a(href=`/users/${user.id}`) View Profile

    //- # BACK BUTTON
    br
    a(href="/") ⬅ Back Home
    